$branco: #ffffff;
$preto: #000000;
$amarela: #ffb200;
$azul: #0e1c70;
$verde: #73bf1f;
$verde-limao: #3bff00;

$texto-primario-escuro:#343a40;
$texto-secundario-escuro:#212529;
$texto-muted:#6c757d;
$texto-branco:#ffffff;

