@use 'variables' as var;

@font-face {
    font-family: "league-spartan";
    src: url('../fonts/LeagueSpartan-Bold.otf') format("opentype");
}

@font-face {
    font-family: "aileron";
    src: url('../fonts/Aileron-Regular.otf') format("opentype");
}

* {
    font-family: 'aileron', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/**
 *
 * Texts color classes
 *
 */
.ty-tcw {
    color: var.$tcW;
}

/**
 *
 * Backgounds color classes
 *
 */
.ty-bg-primary {
    background-color: var.$c1;
}

@import 'header','footer','biografia';

@import 'components/three-boxes-area',
        'components/about-area',
        'components/faq-area',
        'components/timeline-area',
        'components/cards-area';
