@use 'variables' as var;

@font-face {
    font-family: "league-spartan";
    src: url('../fonts/LeagueSpartan-Bold.otf') format("opentype");
}

@font-face {
    font-family: "aileron";
    src: url('../fonts/Aileron-Regular.otf') format("opentype");
}

* {
    font-family: 'aileron', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/**
 *
 * Texts color classes
 *
 */
.ty-tcw {
    color: var.$tcW;
}

.ty-tc1 {
    color: var.$c1;
}

.ty-tc2 {
    color: var.$c2;
}

.ty-tc3 {
    color: var.$c3;
}

/**
 *
 * Backgounds color classes
 *
 */
.ty-bg-primary {
    background-color: var.$c1;
}

.ty-between-section-title {
    margin: 75px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    :nth-child(n) {
        margin: 0 10px;
    }

    :nth-child(2)::before {
        content: '';
        width: 150px;
        height: 4px;
        display: block;
        background: linear-gradient(to left, var.$amarelo, var.$verde-limao);
        margin: 5px auto;
    }
}

.ty-margin-x {
    margin: 2.5px 10px;
}

@import 'header','footer','biografia';

@import 'components/o-que-defendo',
        'components/minha-historia',
        'components/tres-poderes',
        'components/timeline-area',
        'components/cards-area';
