@use './variables'as var;


#ty-timeline-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: min-content;
}

.ty-timeline-nav {
    width: 200px;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
        width: 100px;
        margin: 25px;
        font-size: 1.15em;
        border-bottom: solid .5px var.$cW;
        border-radius: 2.5px;

        &.uk-active {
            border-bottom: solid .5px var.$c2;

            a {
                color: var.$c2;
            }
        }

        &:hover {
            border-bottom: solid .5px var.$c5;
        }

        a {
            color: var.$cW;

            &:hover {
                color: var.$c5;
            }
        }

    }

}

.ty-timeline-box {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
        display: flex;
        justify-content: center;

        div {
            width: 50%;
            z-index: 0;
        }
    }

    img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: center center;
        position: absolute;
        filter: brightness(50%);

    }


}
